@font-face {
    font-display: swap;
    font-weight: 100;
    font-family: 'Yellix';
    src: url('/fonts/Yellix/otf/Yellix-Thing.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Thin.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Thin.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-weight: 200;
    font-family: 'Yellix';
    src: url('/fonts/Yellix/otf/Yellix-Light.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Light.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 400;
    src: url('/fonts/Yellix/otf/Yellix-Regular.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Regular.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 700;
    src: url('/fonts/Yellix/otf/Yellix-SemiBold.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-SemiBold.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Bold.Semi.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 900;
    src: url('/fonts/Yellix/Yellix-Bold.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Bold.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Bold.woff') format('woff');
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Yellix, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ol._2jvtI {
    display: flex;
    justify-content: center;
}

ol._2jvtI li {
    padding: 0px 5px;
    font-size: 30px;
    color: #000;
    font-weight: 700;
}

ol._2jvtI li a {
    color: rgb(0, 204, 255);
}